@use 'styles/variables' as *;

.tableWrapper {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid $grey;
  overflow: visible;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableSection {
  &.header {
    position: sticky;
    background-color: $bg;
    z-index: 500;

    tr {
      th,
      td {
        vertical-align: middle;
        padding: 12px;
      }
    }
  }
}

.tableRow {
  text-align: center;
  border: 1px solid $grey;
}

.tableItem {
  padding: 8px 12px;
  border-bottom: 1px solid $grey;
  vertical-align: middle;
}
