@use 'styles/variables' as *;

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadMoreButton {
  margin: 16px auto 0;
}

.tableHeader {
  top: calc($headerHeight - 2px);
  tr {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  }
}

.headerItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.tableItemIcon {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  object-fit: contain;
  width: 28px;
  height: 28px;
}

.detailsButton {
  display: initial;
}
