@use 'styles/variables' as *;

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: $text-primary;
}

.inputWrapper {
  position: relative;

  .adornment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  color: $text-primary;
  background-color: $white;
  border: 1px solid $accent-extra-light;
  border-radius: 6px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder {
    color: $text-secondary;
  }

  &:focus {
    outline: none;
    border-color: $accent;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
  }
}

.disabled {
  background-color: $light_grey;
  color: $grey;
  cursor: not-allowed;

  &::placeholder {
    color: $grey;
  }
}

.error {
  border-color: $error;

  &:focus {
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.3);
  }
}

.errorText {
  color: $error;
  font-size: 12px;
  margin-top: 4px;
}
