@use 'styles/variables' as *;

@mixin disabled {
  cursor: not-allowed;
  color: $grey;
  background-color: $light_grey;
  border: 1px solid $grey;
}

.button {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  background-color: $accent;
  border: none;
  color: $white;
  position: relative;

  &.text {
    background-color: transparent;
    color: initial;
    border: 1px solid $grey;

    &:hover {
      background-color: $accent-extra-light;
    }

    &:disabled {
      @include disabled();
    }
  }

  &:hover {
    background-color: $accent-hover;
  }

  &:focus {
    outline: 2px solid $accent;
    outline-offset: 1px;
  }

  &:disabled {
    @include disabled();
  }

  &.medium {
    padding: 10px 18px;
  }

  &.large {
    padding: 15px 22px;
  }
}

.loader {
  position: absolute;
}

.buttonChild {
  &.loading {
    visibility: hidden;
  }
}
